@{
    ViewBag.Title = "Home Page";
}
@model List<BusinessLogic.Models.PupilModel>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pupils</h2>
		@foreach(var pupil in Model)
		{
			<p class="pupil-row">@pupil.FirstName @pupil.LastName</p>
		}
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>